# Database
sqlalchemy

# Data manipulation and analysis
pandas
numpy

# Visualization
plotly
matplotlib
seaborn

# API integration
requests

# Dashboard
streamlit>=1.38.0

# Machine learning
scikit-learn

# Utilities
python-dotenv
